#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navegador {
           position: fixed;
            top: 0;
            left: 0;
            width: 70px;
            height: 100vh;
            background: #2a2a2a;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            z-index: 1000;
}

/* .navegador a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
 */
